# {{ ansible_managed }}
[Interface]
Address    = {{ wireguard_server_ip }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_server_private_key }}

PostUp   = iptables -t nat -A POSTROUTING -s {{ wireguard_subnet }} -o {{ wireguard_network_interface }} -j MASQUERADE; ip6tables -t nat -A POSTROUTING -s {{ wireguard_subnet_v6 | default('fd00:wg::/64') }} -o {{ wireguard_network_interface }} -j MASQUERADE
PostDown = iptables -t nat -D POSTROUTING -s {{ wireguard_subnet }} -o {{ wireguard_network_interface }} -j MASQUERADE; ip6tables -t nat -D POSTROUTING -s {{ wireguard_subnet_v6 | default('fd00:wg::/64') }} -o {{ wireguard_network_interface }} -j MASQUERADE

{% for peer in wireguard_peers %}
# {{ peer.name }}
[Peer]
PublicKey  = {{ peer.public_key }}
AllowedIPs = {{ peer.allowed_ips }}
{% if peer.persistent_keepalive is defined %}
PersistentKeepalive = {{ peer.persistent_keepalive }}
{% endif %}

{% endfor %}
