[defaults]
inventory          = inventory/hosts.yml
roles_path         = roles
collections_path   = ~/.ansible/collections
retry_files_enabled = False
host_key_checking  = False
stdout_callback    = yaml
interpreter_python = auto_silent

[ssh_connection]
pipelining         = True
control_master     = auto
control_persist    = 60s
